__pycache__/
node_modules/
.env
.env.*
.envrc
logs/
pids/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
/build/
dist/
*.egg-info/
*.egg
*.log
*.sqlite3
coverage/
*.cache
frontend/.pnp.cjs
frontend/.pnp.loader.mjs
frontend/.pnp.js
frontend/.yarn/*
backend/.venv/
backend/venv/
*.pem
.idea/
.vscode/
*.iml

docker-compose.override.yml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
frontend/build/
frontend/.cache/
frontend/.pnp.cjs
frontend/.pnp.loader.mjs
frontend/.pnp.js
